<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    </div>
  </div>
</footer>
<script>
	var querystring = deparam(location.search);
	console.log(querystring);
	
	if (typeof querystring.lastLesson != "undefined")
	{
		var link = document.getElementById("lastLesson");
		link.style.display = "block";
	}
</script>