<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-xs-4 col-sm-3">
              <a href="<%- config.root %>" id="logo-image"></a>
            </div>
            <div class="col-xs-8 col-sm-9">
              <a href="<%- config.root %>" id="logo"><%= config.title %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>