<div class="header">
  <header id="header">
    <div class="container-fluid" id="header-outer" class="outer">
      <div class="row">
        <div class="col-xs-12">
          <div class="container">
            <div class="row">
              <div class="col-xs-4 col-sm-3">
                <a href="<%- config.root %>" id="logo-image"></a>
              </div>
              <div class="col-xs-8 col-sm-9">
                <a href="<%- config.root %>" id="logo"><%= config.title %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>