.category--header
	padding: 20px 0

.category--panel
	border-radius: 0 !important

.category--panel,
.list-group,
.list-group-item
	border-width: 0 !important

.list-group-item
	padding: 0 article-padding

.list-group-item:nth-child(2n+1)
	background-color: color-grey