.course-item
	padding: article-padding 0

.course-item--title
	font-size: 20px
	font-weight: bold
	text-transform: uppercase
	margin: article-padding 0
	word-break: break-word
	& a
		color: color-black
		&:hover
			color: color-blue
			text-decoration: none

.course-item--image
	text-align: center