<div class="container">
	<div class="category--header row">
		<div class="jumbotron">
		  <h1><%=page.category%></h1>
			<p>...</p>
			<p><a class="btn btn-primary btn-lg" role="button">Subscribe</a></p>
		</div>
	</div>
	<div class="row">
		<%- partial('_partial/archive', {pagination: config.category, index: true}) %>
	</div>
</div>